{% extends "csm/base.html" %}
{% block content %}
<div class="max-w-3xl mx-auto p-8 text-lg leading-relaxed text-wite">
  <h1 class="text-2xl font-bold mb-4">Podmienky používania</h1>
  <p>Táto stránka bola vytvorená výhradne na testovacie účely. Nenesieme zodpovednosť za použitie informácií zverejnených na stránke.</p>
</div>

<!-- Кнопки навигации -->


<div class="mt-12 flex flex-row gap-10 justify-center">
  <a href="javascript:history.back()"
     class="w-max inline-block rounded-full bg-orange-400 px-6 py-2 font-medium text-white shadow-md transition-colors duration-200 hover:bg-orange-500">
    ← Späť
  </a>
  <a href="{% url 'homepage' %}"
     class="w-max inline-block rounded-full bg-orange-400 px-6 py-2 font-medium text-white shadow-md transition-colors duration-200 hover:bg-orange-500">
    ⤒ Domov
  </a>
</div>

{% endblock %}
